* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #191919;
}

header {
    height: 10vh;
    padding: 2% 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;
}

/* SIDENAV */
.sidenav {
    color: white;
    justify-self: center;
}
/* SITE TITLE */
.site-title {
    color: white;
    text-align: center;
    margin: 0;
}

.violet {
    color: #905FE8;
    font-style: italic;
}
/* SWITCHER */
.theme-switcher {
    justify-self: center;
    color: white;
    transition-duration: 200ms;
}

.theme-switcher:hover {
    /* color: rgb(196, 170, 243); */
    /* transform: scale(1.1); */
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}


/********************************/
/*           nodos styles       */
/********************************/

/* nodos container */
.nodos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 0;
    margin-left: 5%;
}

/* node style */
.node {
    display: flex;
    align-items: center;
}


.data-node {
    background-color: #905FE8;
    padding: 1.6rem 1.9rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 0.3rem;
}


.pointer-node img {
    width: 4rem;
    height: 2rem;
}

/********************************/
/*        erros msg styles      */
/********************************/

.errors {
    color: brown;
    font-size: 1.3rem;
    text-align: start;
    font-weight: bold;
    margin: auto 0;
    margin-left: 5%;
}


/*********************/
/* buttons container */
/*********************/

/* row styles */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 0;
}

/* columns styles */
.groups {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: stretch;
    justify-content: space-evenly;
    row-gap: 5%;
}

/*********************/
/* buttons styles */
/*********************/

.btn-primary {
    background: linear-gradient(to right, #0067ff, #8900e8);
    border: none;
    padding: 5% 0;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Livvic', sans-serif;
    transition-duration: 200ms;
}

/* buttons hover styles */
.btn-primary:hover {
    transform: scale(1.04);
}

/* alert button remove */
.alert {
    background: linear-gradient(to right, #EF4427, #A02A15);
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

/* icon styles remove */
.fas {
    /* margin-left: 10%; */
}

/* hover button settings remove */
/* see how can do the border */

/* inputs styles */
.input-primary {
    font-family: 'Livvic', sans-serif;
    border: none;
}


/* Smartphone (pequeño)  */
@media only all and (max-width: 317px) {

}

/* Tablet */
@media only all and (max-width: 767px) and (min-width: 481px) {
}

/* Desktop */
@media only all and (max-width: 1500px) and (min-width: 767px) {
}

/* Big Desktop */
@media only all and (min-width: 1200px) {
}