@import url("mobile-style.css");
/* Medias queries */

@media (min-width: 500px) {
    .header {
        grid-template-columns: 1fr 6fr 1fr;
        height: 15vh;
    }
    .site-title {
        font-size: 1.5rem;
    }
    .buttons-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {

    .site-title {
        font-size: 2.5rem;
    }
    .buttons-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 926px) {
    .buttons-container {
        grid-template-columns: repeat(4, 1fr);
        align-self: center;
    }

    .btn-primary:hover {
        transform: scale(1.04);
    }

    .btn-double:hover {
        transform: scale(1.04);
    }

    .remove:hover {
        border-right: 0.1px solid #444444;
    }

    .setting:hover {
        border-left: 0.1px solid #444444;
    }
}


